@model BTL_Zoo.Entities.ListZoo
@{
    var animal = Model;
}
@{

    ViewBag.Title = "Index";
}

    <table align="center">
        <tr>
            <td>
                <a id="headerlink" href="#">Đặt vé</a>
                <a id="headerlink" href="#">Sự Kiện</a>
            </td>
            <td>
                <img src="~/Content/images/lion-family.jpg" align="middle" />
            </td>
        </tr>
    </table>
    <div id="header">
        <div>
            <h1>Sự kiện đặt biệt: </h1>
            <p>Buổi trình diễn trang phục áo tắm của hiện tượng Tùng Sơn.</p>
        </div>
    </div>
<div id="content">
    <div id="featured">
        <h2>Ghé thăm những loài động vật hoang dã</h2>
        <ul>
            @{
                var a = 0;
            }
            @foreach (var item in Model.LsDongVat)
            {
                
                
                <li> <a href="#"><img src="~/Content/images/@item.HinhAnh" alt="" width=98 height=98 /></a> <a href="#">@item.TenDV</a> </li>
                a++;
                if (a == 8) { break; }
            }
        </ul>
    </div>
    <div class="section1">
        <h2>Phản hồi</h2>
        <ul id="article">
            @{
                var b = 0;
            }
            @foreach (var item in Model.LsPhanHoi)
            {


               <li>
                <p style="font-weight:bold"><span>@item.HoTen</span></p>
                   <p style="font-style:italic">@item.ThoiGian</p>
                <p>@item.NoiDung</p>
                </li>
               b++;
                if (b == 3) { break; }
            }
            
        </ul>
    </div>
    <div class="section2">
        <h2>Sự kiện</h2>
        @{
            var count = 0;
        }
        @foreach (var eve in Model.LsSuKien)
        {
            count++;
            if (count == 1)
            {
                <p>@eve.TieuDe</p>
                <a href="~/Event/Detail/@eve.IDEvent"><img src="~/Content/images/@eve.HinhAnh" alt="" width=200 height=150 /></a>
                <p><h4>@eve.TomTat</h4></p>

            }
            else
            {
                if (count < 4)
                {
                    <div id="section1">
                        <ul>
                            <li>
                                <a href="~/Event/Detail/@eve.IDEvent"><img src="~/Content/images/@eve.HinhAnh" alt="" width=130 height=100 /></a>
                                <h4><a href="~/Event/Detail/@eve.IDEvent">@eve.TieuDe</a></h4>
                             
                  
                        <h3>@eve.TomTat</h3>
        
                            </li>
                        </ul>
                    </div>
                }
                /*else
                {
                    <div id="section2">
                        <ul>
                            <li>
                                <a href="~/Event/Detail/@eve.IDEvent"><img src="~/Content/images/@eve.HinhAnh" alt="" width=130 height=100 /></a>
                                <h4><a href="~/Event/Detail/@eve.IDEvent">@eve.TieuDe</a></h4>
                                @{
                                    var s = new StreamReader(eve.TomTat.ToString());
                                    string line;
                                    while ((line = s.ReadLine()) != null)
                            {
                                     <p>@line</p>
                            }

                                    }
                            </li>
                        </ul>
                     </div>
                 }*/
            }
            if (count == 3) { break; }
        }
        
    </div>
    <div class="section3">
        <h2>Liên hệ</h2>
        <a href="#" id="email">Email cho chúng tôi</a> <a href="https://www.facebook.com/shindoknight" id="facebook">Facebook</a> <a href="https://twitter.com" id="twitter">Twitter</a>
        <form action="~/PhanHoi/Subcribe">
            <h3>Đăng ký để nhận <br/></h3>
            <h2>TIN TỨC MỚI NHẤT</h2>
            <input type="text" name="mail" value="email của bạn..." onblur="this.value = !this.value ? 'email của bạn...' : this.value;" onfocus="    this.select()" onclick="    this.value = '';" />
        </form>
        <img src="~/Content/images/penguin2.jpg" alt="" />
    </div>
</div>





